@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Oxygen";
    src: local("Oxigen"),
        url("/fonts/oxigen.woff2") format("woff2")
}

body {
    background-image: url("/img/hero2.jpg");
    background-repeat: no-repeat;
    background-position: top left;
}

a {
    text-decoration: underline;
    color: #ff6a00
}

@media (max-width: 1024px) {
    body {
        background-image: none;
    }
}